<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvueFWQGEcHTNko8jf2iq55qTOhGjqq3A</string>
	<key>GCM_SENDER_ID</key>
	<string>87674142667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>tracememory-daa32</string>
	<key>STORAGE_BUCKET</key>
	<string>tracememory-daa32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87674142667:ios:237e3cee48bc9919ee804e</string>
	<key>DATABASE_URL</key>
	<string>https://tracememory-daa32-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>